/* CSS declarations go here */

/*-------*/
/* FONTS */
/*-------*/
@font-face {
	font-family: 'Quicksand Book';
	src: url(font/Quicksand_Book.otf);
}
@font-face {
	font-family: 'Quicksand Bold';
	src: url(font/Quicksand_Bold.otf);
}
@font-face {
	font-family: 'Quicksand Dash';
	src: url(font/Quicksand_Dash.otf);
}
@font-face {
	font-family: 'Quicksand Light';
	src: url(font/Quicksand_Light.otf);
}
@font-face {
	font-family: 'Quicksand Book Oblique';
	src: url(font/Quicksand_Book_Oblique.otf);
}
@font-face {
	font-family: 'Quicksand Light Oblique';
	src: url(font/Quicksand_Light_Oblique.otf);
}
@font-face {
	font-family: 'Quicksand Light Bold';
	src: url(font/Quicksand_Bold_Oblique.otf);
}

/*--------------*/
/* END OF FONTS */
/*--------------*/


/*----------------*/
/* HELPER CLASSES */
/*----------------*/
.quicksand-book {
	font-family:'Quicksand Book';
}
.quicksand-bold {
	font-family:'Quicksand Bold';
}
.quicksand-light {
	font-family:'Quicksand Light';
}
.bg-blue {
	background-color:#5085B6;
}
.color-white {
	color:#fff!important;
}
.text-right {
	text-align:right;
}

/*-----------------------*/
/* END OF HELPER CLASSES */
/*-----------------------*/

body {
	background-color: #f5f5f5;
	font-family:'Quicksand Book';
}


.col-centered{
	float: none;
	margin: 0 auto;
}

#menu-bar {
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	background-color: #5085B6;
	height: 60pt;
	z-index: 9999999;
}

#menu-icon {
	position: absolute;
	left: 10px;
	top: 32px;
	width: 37px;
	height: 37px;
	background: url(img/menu-icons/menu-icon.png);
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: center; 
}



#side-menu {
	background-color: #5085B6;
	position: fixed;
	top: 75px;
	left: 0;
	width: 70%;
	max-width: 400px;
	height: 100%;
	box-shadow: 5px 0px 9px -5px rgba(0,0,0,0.5);
	z-index: 999999;
	display: none;
}

#side-menu ul {
	list-style: none;
	margin: 30px 0 0 0;
	padding: 0 30px;
}

#side-menu li {
	color: #fff;
	text-transform: uppercase;
	padding: 9px 0px;
	display: none;
}
#side-menu li a {
	color: #fff;
}

#side-menu #welcome {
	color: #fff;
	text-align: center;
	margin-top: 20px;

	display: none;
}
#side-menu #welcome p {
	color: #fff;
	text-align: center;
	margin: 0;
	padding: 0;
}


#side-menu #profile-image {
	width: 110px;
	height: 110px;
	background-color: #fff;
	border-radius: 50%;
	border: solid 2px #fff;
	display: inline-block;
	-webkit-box-shadow: 0 5px 8px rgba(0,0,0,0.3);
	box-shadow: 0 5px 8px rgba(0,0,0,0.3);
}

#overlay {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 999998;
	background: #000;
	opacity: 0; 
	display: none;
	width: 100%;
	height: 100%;
}
#overlay.show {
	opacity: 0.6; 
}




#content {
	padding-top: 55px;
	background-color: #f5f5f5;
	height: 100%;
	width: 100%;
}



#swipe {
	width: 150px;
	height: 100%;
	position: fixed;
}