<template name="sideMenu">
	<div id="side-menu">

		<div id="welcome">
			<div id="profile-image" style="background: url(img/profile-pic.jpg);
			background-size: cover;"></div>

			<p>Hi Joe</p>
			<p>Welcome back</p>
		</div>


		<ul>
			<li><a href="/">Home</a></li>
			<li><a href="/browse">Browse</a></li>
			<li><a href="/hot">Whats hot</a></li>
			<li><a href="/preferences">Preferences</a></li>
			<li><a href="/settings">Settings</a></li>
		</ul>
	</div>

	<div id="overlay"></div>

</template>
